 * {
     margin: 0px;
     box-sizing: border-box;
     font-family: IBM Plex Sans;
 }

 body {
     background-color: #F3F3F3;
 }

 @font-face {
     font-family: IBM Plex Sans;
     src: url('/font/IBM_Plex_Sans,Parkinsans.zip') format('truetype');
 }

 /* header */
 header {
     /* display: flex;
    justify-content: space-between; */

     h1 {
         font-family: IBM Plex Sans;
     }
 }

 /* main */
 main {
     display: grid;
     /* 
        veel handiger om frs te gebruiken voor responsiveness!
     grid-template-columns: repeat(2, 350px); */
     grid-template-columns: 1fr 1fr;
     /*  Deze hebben we eigenlijk niet nodig, grid maakt zelf rows aan.
    grid-template-rows: repeat(2, 1fr); */
     justify-content: center;
     gap: 10px;
 }

 /* Small card */
 .small-cards {
     display: grid;
     align-items: center;
     /* we gebruiken auto, zodat de eerste kolom de breedte krijgt van z'n content */
     grid-template-columns: auto 1fr;
     grid-template-rows: repeat(3, auto);
     /* auto auto auto; */
     column-gap: 0.5rem;

     background-color: var(--white);

     border-radius: var(--border-radius);
     padding: 10px;

     /* we hebben geen height nodig, we gebruiken de content om de hoogte te bepalen
    height: 130px; 
    Als je dan height wil geven, gebruik dan min height zodat als de content groter moet worden dat het kan.
    */



     h2 {
         font-family: IBM Plex Sans;
         font-weight: 600;
         text-align: center;
     }

     .small-card-img {
         /* width: 3.125rem; */
         height: 100%;
         aspect-ratio: 1;
         grid-row: 1 / -1;
         /* dit betekent dat het alle mogelijke rijen gaat vullen met dit element */
         padding: 15px;
         border-radius: 10px;

     }
 }

 p {
     font-family: IBM Plex Sans;
     font-weight: 300;
     text-align: center;

     span {
         color: var(--grey-75);
     }
 }



 .img-total-topics {
     background-color: var(--color-secondary-light);
 }

 .img-active-topics {
     background-color: var(--color-success);
 }

 .img-most-active-user {
     background-color: var(--color-secondary-orange);
 }

 .img-account-circle {
     background-color: var(--color-info-light);
 }

 /* Top actieve topics kaartje */
 .top-topics-card {
     grid-column: 1 / -1;
     background-color: var(--white);
     padding: 2rem;
     border-radius: var(--border-radius);
 }

 .top-topics-card h2 {
     margin-bottom: 2rem;
 }

 .topic-list {
     display: grid;
     grid-template-columns: 20rem 1fr max-content;
     column-gap: 5rem;
     row-gap: 1.5rem;
 }

 meter {
     margin-bottom: 1rem;
 }
 meter::-webkit-meter-bar{
    background-color: var(--grey-95);
    height: 15px;
 }

 meter::-webkit-meter-inner-element {
     width: 15rem;
 }

 meter::-webkit-meter-optimum-value {
    padding: 10px;
    background-color: var(--color-brand);
 }
.grid-container {
    grid-column: 1 /-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: inherit;
}

 /* Laatste paar kollomen */
 .smallest-colmn {
     /* width: 350px;
     height: 100px; */
     display: grid;
     grid-template-columns: 50px 1fr;
     grid-template-rows: 30px 1fr;
     align-items: center;
     background-color: var(--white);
     column-gap: 1rem;
     row-gap: 0.5rem;
     padding: 10px;
     border-radius: var(--border-radius);
 }


 .smallest-colmn-h2 {
     font-size: 18px;
     padding: 10px;
     text-align: center;
 }

 .smallest-colmn-p {
     grid-column: 2;
 }

 .img-active-topics-small {
     background-color: var(--color-brand);
     padding: 8px;
     border-radius: 10px;
     grid-row: 1 / -1;
 }

 .top-user-card {
     grid-column: 2;
     grid-row: 1 / -1;
     background-color: var(--white);
     padding: 15px;
     border-radius: var(--border-radius);
     width: auto;
     /* grid-row: 4 / 6; */
     /* grid-column: 2; */
     /* height: 300px; */

     h2 {
         margin-bottom: 1rem;
     }
 }

 .top-user-list {
     margin: 0;
     padding: 0;
     font-size: 13px;
 }

 .top-user-item {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     gap: 1rem;
     margin-bottom: 2rem;
 }

 .user-name {
     font-size: 1rem;
 }

 .user-comment,
 .amount-topics {
     color: var(--grey-75);
 }

 /* Meest gebruikte categorie */
 .most-used-category {
     display: grid;
     align-items: center;
     grid-template-columns: 50px 1fr;
     grid-template-rows: 50px 50px 50px;
     padding: 10px;
     background-color: var(--white);
     border-radius: var(--border-radius);

     .img-most-used-cat {
         grid-row: 1 / -1;
         width: 100%;
     }

     .h2-most-used-cat {
         text-align: center;
     }
 }

 /* laatste kaartje */

 .last-topic-card {
     grid-column: span 2;
     background-color: var(--white);
     border-radius: var(--border-radius);
     padding: 15px;
 }

 .last-topic-list {
     margin: 0;
     padding: 0;
 }

 .last-topic-item {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     gap: 2rem;
     margin-bottom: 2rem;

     .last-topic-user,
     .last-topic-time {
         color: var(--grey-75);
     }
 }

 .h2-last-topic {
     margin-bottom: 1rem;
 }